<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title> Calm Mind | Home </title>
  <link rel="shortcut icon" type="image/png" href="../public/img/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/styles.css">
  <script src="https://kit.fontawesome.com/a10dc5d5d5.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

  <!-- nav -->
  <%- include('nav', { isAuthenticated: isAuthenticated }) %>


  <!-- <div class="container mt-4">
    <p>Home - Your Daily Dose of Mental Wellness</p>
    <% if (isAuthenticated) { %>
      <p>Welcome, <%= user.profile.displayName %>!</p>
    <% } %>
  </div> -->


  <div class="container-fluid">

    <!-- User banner -->
    <!-- <div class="userbanner">

        <ul>
            <li><a href="login"><i class="fas fa-user"></i>Login</a></li>
            <li><a href="login"><i class="fas fa-user-plus"></i>Sign Up</a></li>

        </ul>
    </div> -->

    <!-- Logo Banner -->
    <div class="img-banner">
        <p class="logo">CalmMind</p>
    </div>


    <!-- MAIN SECTION-->
    <section class="main">

        <div class="intro_bg">
            <div class="intro_text">
                <h1 class="text-on-image" style="color:#f6f6f6;">Your Daily Dose of Mental Wellness </h1>
                <h4 class="contents1" class="text-on-image" style="color:#f0e4d7;">Enhance your Life Quality with CalmMind!
                </h4>
            </div>
        </div>
  </div>


  <div class="list">

      <ul class="amount">
          <li>
              <div>
                  <div class="contents1">Physical Stress Detection</div>
                  <div class="result">By Heart Rate</div>
              </div>
          </li>
          <li>
              <div>
                  <div class="contents1">Depression & Anxiety Risk</div>
                  <div class="result">From Text</div>
              </div>
          </li>
          <li>
              <div>
                  <div class="contents1">Capture Your Emotions</div>
                  <div class="result">From Audio</div>
              </div>
          </li>
          <li>
              <div>
                  <div class="contents1">Music Prescription</div>
                  <div class="result">For Therapy</div>
              </div>
          </li>
      </ul>

  </div>

  <div class="main_text0">

      <h1>How It Works</h1>

      <div class="list">
          <ul class="icons">
              <li>
                  <div class="icon_img">
                      <br>
                      <img src="../public/img/1.png" class="division_1" style="border-radius: 50%;">
                  </div>
                  <br>
                  <div class="contents1_bold"> Bio Data </div>
              </li>

              <li>
                  <div class="icon_img">
                      <br>
                      <img src="../public/img/2.png" class="division_2" style="border-radius: 50%;">
                  </div>
                  <br>
                  <div class="contents1_bold"> Speech or Typed Journal </div>
              </li>

              <li>
                  <div class="icon_img">
                      <br>
                      <img src="../public/img/3.png" class="division_3" style="border-radius: 50%;">
                  </div>
                  <br>
                  <div class="contents1_bold"> Tailored Treatment </div>
              </li>
          </ul>

      </div>
  </div>

  <div class="container-fluid">
      <section class="main">
          <div class="last_bg">
          </div>

  </div>


  <div class="main_text1">
      <br>
      <br>
      <h1>MISSON</h1>
      <br>
      <div class="contents1">
          <p>Our aim is not to replace traditional mental health treatments; instead,</p>
          <p>CalmMind is designed as a supportive tool to enhance mental well-being through the therapeutic practice of journaling.</p>
          <p>We are here to accompany you on every step of your mental wellness journey.</p>
      </div>
  </div>
  </section>

  <!-- Footer -->
  <div class="footer">
      <ul>
          <!-- <li><a href="/">Home</a></li> -->
          <!-- <li><a href="index">My Page</a></li> -->
          <li><a href="/login"> Login</a></li>
          <!-- <li><a href="login"> Sign Up</a></li>
          <li><a href="">Contact</a></li> -->
      </ul>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>