<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> Calm Mind | Login </title>
    <link rel="shortcut icon" type="image/png" href="../public/img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../public/styles.css"> -->
    <script src="https://kit.fontawesome.com/a10dc5d5d5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <style>
        .login-container {
        text-align: center;
        margin-top: 20px;
    }

    .login-text {
        color: #4a4a4a;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .google-btn {
        background-color: #4285F4; /* Google Blue */
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px; /* space between icon and text */
    }

    .google-btn img {
        width: 20px; /* Adjust icon size */
    }

    .google-btn:hover {
        background-color: #357ae8; /* Darker shade for hover effect */
        text-decoration: none; /* Removes underline on hover */
    }

    </style>

</head>


<body>

    <!-- nav -->
    <%- include('nav', { isAuthenticated: isAuthenticated }) %>


    <div class="container" style="max-width: 600px; margin-top: 100px;">

      <div class="login-container">
        <a href="/auth/google" class="google-btn">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png" /> Login with Google
        </a>
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>