
/* bg : #89B9AD , btn : #C7DCA7 */
/* body {
  background-color: #89B9AD;
} */

.post-list-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 15px;
}

.post-list-item:last-child {
  border-bottom: none;
}

.hover-link {
  color: inherit;
  text-decoration: none;
}

.hover-link:hover {
  color: #89B9AD;
  /* or any color you prefer */
}
