@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

img,
svg {
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
}

.h5,
h5 {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}

.card-text:last-child {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.media-body:hover .image {
  opacity: 0.3;
}

.media-body:hover .middle {
  opacity: 1;
}

.text {
  background-color: #c08af2;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.division_1 {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.division_2 {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.division_3 {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.text-on-image {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.contents1 {
  font-size: 20px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
}

.contents1_bold {
  font-size: 18px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.result {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.intro_bg {
  background-image: url("img/intro.jpg");
  background-size: cover;
  background-size: no-repeat;
  width: 100%;
  height: 714px;
}

.last_bg {
  background-image: url("img/last.jpg");
  background-size: cover;
  background-size: no-repeat;
  width: 100%;
  height: 714px;
}

/* .nav {
  display: flex;
  justify-content: flex-end;
  width: calc(1280px - 300px);
  line-height: 86px;
}
.nav > li {
  margin-left: 84px;
}

.nav > li > a {
  color: #fff;
} */

.navbar a, .navbar a:hover {
  color: #000;
  text-decoration: none; /* Removes the underline */
}

.amount {
  position: relative;
  top: -66px;
  display: flex;
  width: 1280px;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.amount > li {
  flex: 1;
  height: 132px;
}
.amount > li > div {
  text-align: center;
  margin-top: 37px;
  height: 57px;
}

.amount > li:not(:last-child) > div {
  border-right: 1px solid #e1e1e1;
}
.intro_text {
  width: 100%;
  margin: 231px auto 231px auto;
  text-align: center;
}
.intro_text > h1,
.intro_text > h4 {
  color: #fff;
}

/* main_text0 */
.main_text0 {
  width: 100%;
  height: 601px;
  margin-top: -132px;
  background: #f1f2f3;
}
.main_text0 > h1 {
  padding-top: 116px;
  text-align: center;
}
.main_text0 > .contents1 {
  text-align: center;
}

.icons {
  display: flex;
  width: 1280px;
  height: 302px;
  /* background: orange; */
  margin: auto;
}
.icons > li {
  flex: 1;
  background: white;
  margin-top: 49px;
  height: 302px;
  text-align: center;
}

.icons > li > .icon_img {
  margin-top: 18px;
}

.icons > li:not(:last-child) {
  margin-right: 20px;
}

.more {
  width: 100px;
  height: 30px;
  background: #2f7af4;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  margin: 25px auto;
}

/* main_text1*/
.main_text1 {
  width: 100%;
  height: 480px;
  background: #f1f2f3;
  font-family: "Poppins", sans-serif;
}
.main_text1 > h1 {
  padding-top: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.main_text1 > .contents1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.service {
  width: 1280px;
  display: flex;
  margin: 49px auto;
  height: 427px;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.container-fluid {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* USER BANNER */
.userbanner {
  background-color: #89B9AD;
  height: 50px;
  width: 100%;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: flex;
  font-family: "Poppins", sans-serif;
}

#tiny-logo {
  width: 30px;
}

.userbanner ul {
  text-align: right;
  margin: 0px;
  right: 0px;
  width: 100%;
  padding-left: 0px;
  font-family: "Poppins", sans-serif;
}

.userbanner ul li {
  display: inline-block;
  line-height: 35px;
  margin: 10px 5px;
}

.userbanner ul li a {
  color: white;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
}
.userbanner ul li a:hover {
  background: #FFEBD8;
  color: #5b4173;
}

.img-banner {
  background-color: #C7DCA7;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}

.logo {
  color: white;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0;
  height: 100%;
  font-weight: bold;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
}

.storeimage {
  margin-top: 100px;
  width: 100%;
  height: 400px;
}

/* nav {
  background-color: #5b4173;
  height: 50px;
}

nav ul {
  margin-right: 20px;
  text-align: center;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 10px 5px;
} */

/* nav ul li a {
  color: white;
  font-size: 30px;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
} */
nav ul li a:hover {
  background: #FFEBD8;
  color: #5b4173;
}

/* ROAD MAP BANNER */
.page-header {
  font-size: 25px;
  color: #5b4173;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* ALL MIDDLE PORTION */
.main {
  display: flex;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.content {
  min-height: 58.7vh;
  display: flex;
  width: 100%;
}

/* RECOMMEND */
/* Detected Emotion Styling */
#moodText {
  text-align: center;
  margin-top: 20px;
}
#moodText h2 {
  color: #4CAF50;
}
/* Risk Assessment & Stress Management Styling */
.progress-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.progress-container {
  width: 48%;
}
.progress-container h3 {
  margin-bottom: 10px;
}
.progress-bar {
  background-color: #ddd;
  border-radius: 14px;
  padding: 3px;
}
.progress {
  height: 20px;
  border-radius: 10px;
}
/* Journal Prompts Styling */
.journal-prompt {
  background-color: #E3F2FD;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.journal-prompt h4 {
  color: #2196F3;
  margin-bottom: 10px;
}
/* Music Player Styling */
#musicPlayer {
  text-align: center;
  margin-top: 40px;
}
#musicPlayer iframe {
  width: 100%;
  height: 380px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border: none; /* Remove default border */
}


/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  background-color: #89B9AD;
  height: 215px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.footer ul {
  margin-right: 20px;
  text-align: Left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
.footer ul li {
  line-height: 20px;
  margin: 10px 5px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

.footer ul li a {
  color: white;
  border-radius: 3px;
  text-decoration: none;
  padding: 0px 15px;
  font-family: "Poppins", sans-serif;
}
.footer ul li a:hover {
  background: #FFEBD8;
  color: #5b4173;
  font-family: "Poppins", sans-serif;
}

/* Media Queries */
@media (max-width: 500px) {
  .list > div {
    flex: calc(50%);
  }

  .amount {
    display: block;
  }

  .amount > li {
    width: 100px;
    margin: 0 auto;
  }

  .division_1,
  .division_2,
  .division_3 {
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (min-width: 501px) {
  .list > div {
    flex: calc(25%);
  }
}
